# Pyspark

In [32]:
#import paskages
import pyspark
import pandas as pd

from pyspark.sql import SparkSession

In [33]:
#load data 
df = pd.read_csv("text1.csv" , sep=",")
df

        Name  Age
0      Krish   31
1  sudanshow   30
2      sunny   29

In [44]:
type(df)

pandas.core.frame.DataFrame

In [35]:
spark = SparkSession.builder.appName("practise").getOrCreate()
spark

In [36]:
df_pyspark=spark.read.csv("text1.csv")

In [37]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [38]:
df_pyspark.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|Age|
|    Krish| 31|
|sudanshow| 30|
|    sunny| 29|
+---------+---+

In [42]:
df_pyspark = spark.read.option("header",'True').csv("text1.csv")

In [43]:
df_pyspark

DataFrame[Name: string, Age: string]

In [45]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [46]:
df_pyspark.head(3)

[Row(Name='Krish', Age='31'),
 Row(Name='sudanshow', Age='30'),
 Row(Name='sunny', Age='29')]

In [48]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)