# Pyspark Dataframes Filter Operation

In [2]:
#import paskages 

from pyspark.sql import SparkSession

In [4]:
#Creating a SparkSession 
spark=SparkSession.builder.appName("dataframe").getOrCreate()

In [6]:
#read data
df_pyspark=spark.read.csv('text4.csv', header=True , inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

## Filter Operations

In [13]:
#salary of people less than  or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [16]:
#salary of people less than  or equal to 20000 and selects only the 'Name' and 'age' columns for display.

df_pyspark.filter("Salary<=20000").select(['Name',"age"]).show()

+-------+---+
|   Name|age|
+-------+---+
|  Sunny| 29|
|   Paul| 24|
| Harsha| 21|
|Shubham| 23|
+-------+---+

In [20]:
#filter age more 25 and show just Salary and Experience columns
df_pyspark.filter("age>25").select(["Salary",'Experience']).show()

+------+----------+
|Salary|Experience|
+------+----------+
| 30000|        10|
| 25000|         8|
| 20000|         4|
+------+----------+

In [25]:
# filter rows based on a condition where the 'Salary' is between 15000 and 20000
df_pyspark.filter((df_pyspark['Salary']<=20000   ) &
                  (df_pyspark['Salary']>=15000)  ).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

In [30]:
#filters  based on two conditions: age greater than or equal to 25 and salary greater than or equal to 25000. 
df_pyspark.filter((df_pyspark['age']>=25) &
                  (df_pyspark['Salary']>=25000)  ).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+

In [32]:
#checks whether  'age' is not less than 25.
df_pyspark.filter(~(df_pyspark["age"]<25) ).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
+---------+---+----------+------+

In [36]:
#checks whether  'age' is not less than 25 or  'Salary' is not less than 25000.
df_pyspark.filter( ~((df_pyspark['age']<25) | (df_pyspark['Salary']<25000)) ).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
+---------+---+----------+------+